.root {
    /*--limerick: #B0C400;*/
    /*--pear: #D5DE2E;*/
    /*--coyote-brown: #795A2D;*/
    /*--pineapple: #523213;*/
    /*--sage: #C3BC95;*/
    /*--dark-vanila: #D3CCA5;*/

    -fx-background-color: #B0C400;
}

.side-pane {
    -fx-border-width: 0;
    -fx-background-color: #523213;
    -fx-padding: 0;
}

.side-pane > .split-pane-divider {
    -fx-background-color: #C3BC95;
}

.select-pane {
    -fx-background-color: #795A2D;
}

.with-scroll-bar .scroll-bar:horizontal,
.with-scroll-bar .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-progress-color: transparent;
}

.with-scroll-bar .scroll-bar:horizontal .track,
.with-scroll-bar .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 1.5em;
}


.with-scroll-bar .scroll-bar:horizontal .increment-button,
.with-scroll-bar .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.with-scroll-bar .scroll-bar:vertical .increment-button,
.with-scroll-bar .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.with-scroll-bar .scroll-bar .increment-arrow,
.with-scroll-bar .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.with-scroll-bar .scroll-bar:vertical .increment-arrow,
.with-scroll-bar .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.with-scroll-bar .scroll-bar:horizontal .thumb,
.with-scroll-bar .scroll-bar:vertical .thumb {
    -fx-background-color: #D3CCA5;
    -fx-background-insets: 3.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.with-scroll-bar .scroll-bar:horizontal .thumb:hover,
.with-scroll-bar .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #C3BC95;
}

.list-cell:odd {
    -fx-background-color: #523213;
}

.list-cell:even {
    -fx-background-color: #523213;
}

.list-cell {
    -fx-pref-height: 50;
    -fx-alignment: center;
    -fx-padding: 0 0 0 0;
}

.toggle-button {
    -fx-text-fill: #C3BC95;
    -fx-border-radius: 20;
    -fx-pref-width: 190;
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-text-fill: #C3BC95;
    -fx-background-color: #D3CCA5;
}

#lineChart {
    visibility: hidden;
}

.text-field {
    -fx-padding: 7;
}

#formulaCanvasPane {
    -fx-background-radius: 3;
}
